//# Mixins
//
//*

@mixin font-face($family, $filepath, $weight: normal, $style: normal) {
	@font-face {
		font-family: $family;
		font-display: swap;
		src: local($family),
			url('#{$filepath}.woff2') format('woff2'),
			url('#{$filepath}.ttf') format('truetype');
		font-weight: $weight;
		font-style: $style;
	}
}

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
	$min: breakpoint-min($name, $breakpoints);
	@if $min {
	  @media (min-width: $min) {
		@content;
	  }
	} @else {
	  @content;
	}
  }